{% extends "base.html" %}
{% load static %}

{% block meta %}{% endblock %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'css/resume.css' %}">
{% endblock %}

{% block title %}About Me | CodesAlot{% endblock %}

{% block content %}
<div class="container shadow rounded resume_background">
	<div class="row justify-content-center">
        <div class="col-12 text-center">
            <h1 class="resume_name mb-0">{{ gen_info.name }}</h1>
        </div>
    </div>
	<div class="row justify-content-center">
        <div class="col-12 text-center">
            <a class="resume_link" href="{{ gen_info.linkedin }}" target="blank">LinkedIn</a>
            ❖
            <a class="resume_link" href="{{ gen_info.github }}" target="blank">GitHub</a>
        </div>
    </div>
	<div class="row justify-content-center">
        <h5>{{ gen_info.city_state }}</h5>
    </div>
    <hr class="my-1 resume_hr">
    <h1>coming soon...</h1>
</div>
{% endblock %}

{% block customjs %}{% endblock %}