{% extends "base.html" %}
{% load static %}

{% block meta %}{% endblock %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'css/resume.css' %}">
{% endblock %}

{% block title %}About Me | CodesAlot{% endblock %}

{% block content %}
<div class="container shadow rounded resume_background">
	<div class="row justify-content-center">
        <div class="col-12 text-center">
            <h1 class="resume_name mb-0">{{ gen_info.name }}</h1>
        </div>
    </div>
	<div class="row justify-content-center">
        <div class="col-12 text-center">
            <a class="resume_link" href="{{ gen_info.linkedin }}" target="blank">LinkedIn</a>
            ❖
            <a class="resume_link" href="{{ gen_info.github }}" target="blank">GitHub</a>
        </div>
    </div>
	<div class="row justify-content-center">
        <h5>{{ gen_info.city_state }}</h5>
    </div>
    <hr class="my-1 resume_hr">
	<p>{% now "F d, Y" %}</p>
	<br>
    <div>
	    <span>Your name could be here!</span><br>
	    <span>And so could your companies address!</span><br>
	    <span>What about your phone number you say?</span><br>
	    <span>Let's not forget your email address!</span>
    </div>
	<br>
	<p>Dear Potential Hiring Manager,</p>
	<br>
	<p style="text-indent: 3em;">Hey, I'm Jon. The man, the myth, the programmer. I'm currently enrolled at Western Governors University pursuing a Bachelors’s degree in Software Engineering and will be earning multiple certifications alongside my degree.</p>
	<p style="text-indent: 3em;">I’ve spent a lot of time enjoying multiple hobbies in my life, the largest one being programming. Over the years I have built countless web apps for fun just to see if I could get them up and running and then bask in the glory knowing that I was successful. My old go-to language was PHP on the backend and Boostrap as the front end framework utilizing SQL for data storage and retrieval. Since I’ve picked up learning Python I’ve been developing solely with Bootstrap, Django, and SQL and have basically fallen in love. Everything that I have learned programming-wise has been learned on my own… With the assistance of Google, Stack Overflow, and Youtube.</p>
	<p style="text-indent: 3em;">When I first thought about a possibility of a career pivot I was exploring boot camps and what their options were as far as the programming world. Through all of the research I did, I came to the conclusion that a degree would benefit me better and decided to reach out to Western Governors University. WGU is an online, self-taught, accredited college that allows me to learn at my own pace and my own style. It does prove to be challenging since it is self-taught, however, all my previous years of research practice from programming has proved to be invaluable when it comes down to learning.</p>
	<p style="text-indent: 3em;">I managed a local bar and a fairly well-known one at that (especially amongst the Packer’s crowd) for 6 years. With the experience I gained there I could have gone anywhere in life however I chose to pursue turning what has always been a dream career of mine into a reality. I learned a lot of invaluable skills while managing the bar such as personal communication, leadership, training, accountability, and the list goes on and on. I feel like that job positioned me excellently for moving into a corporate role since I’m very familiar with HR policies and rules.</p>
	<p style="text-indent: 3em;">So here we are, at the end of this road and hopefully the beginning of a new one. I'm sure you've glanced over my resume and stuck with me reading through my cover letter as well. If you like what you have seen then I reckon I'm the man for the job. You can contact me via the form at the bottom of this page or LinkedIn! I'll be patiently waiting :)</p>
	<br>
	<p>Best regards,</p>
    <p><span style="font-style:italic;">Jon Robertson</span><br><span style=”font-style:none;font-size:0.8em;”>PS: Hire me please</span></p>
</div>
{% endblock %}

{% block customjs %}{% endblock %}