{% extends "base.html" %}

{% block meta %}{% endblock %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'css/resume.css' %}">
{% endblock %}

{% block title %}Resume | CodesAlot{% endblock %}

{% block content %}
<div class="container shadow rounded mb-4 resume_background">
	<div class="row justify-content-center">
        <div class="col-12 text-center">
            <h1 class="resume_name mb-0">{{ gen_info.name }}</h1>
        </div>
    </div>
	<div class="row justify-content-center">
        <div class="col-12 text-center">
            <a class="resume_link" href="{{ gen_info.linkedin }}" target="blank">LinkedIn</a>
            ❖
            <a class="resume_link" href="{{ gen_info.github }}" target="blank">GitHub</a>
        </div>
    </div>
	<div class="row justify-content-center">
        <h5>{{ gen_info.city_state }}</h5>
    </div>
    <hr class="my-1">
    <div class="font-weight-bold mt-3 text-uppercase resume_category">Work Experience</div>
    <hr class="my-1">
	<div class="row justify-content-center">
        <div class="col-12">
        {% for job in jobs %}
            <div class="row">
                <div class="col-6">
                    <p class="my-0 font-weight-bold">{{ job.company }}</p>
                </div>
                <div class="col-6">
                    {% if job.currently_employed %}
                        <p class="my-0 font-weight-bold text-right">{{ job.start_date|date:"M Y" }} – Present</p>
                    {% else %}
                        <p class="my-0 font-weight-bold text-right">{{ job.start_date|date:"M Y" }} – {{ job.end_date|date:"M Y" }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                <p class="my-0 font-italic">{{ job.position }}</p>
                </div>
                <div class="col-6">
                <p class="my-0 font-italic text-right">{{ job.city_state }}</p>
                </div>
            </div>
            {% if not job.duty.all %}
                <p class="jduty">No duties found</p>
            {% else %}
                <ul class="resume_dutylist">
                {% for duty in job.duty.all %}
                    <li class="resume_dutylistitem">{{ duty.duty }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="font-weight-bold text-uppercase resume_category">Education</div>
    <hr class="my-1">
	{% for school in schools %}
		<div class="row">
			<div class="col-6">
				<p class="my-0 font-weight-bold">{{ school.school }}</p>
			</div>
			<div class="col-6">
			{% if school.currently_enrolled %}
				<p class="my-0 font-weight-bold text-right">{{ school.start_date|date:"M Y" }} – Present</p>
			{% else %}
				<p class="my-0 font-weight-bold text-right">{{ school.start_date|date:"M Y" }} – {{ school.end_date|date:"M Y" }}</p>
			{% endif %}
			</div>
		</div>
		<div class="row">
		<div class="col-6">
			<p class="my-0 font-italic">{{ school.degree }}</p>
		</div>
			<div class="col-6">
				<p class="my-0 font-italic text-right">{{ school.city_state }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<p class="mt-0"><span class="font-weight-bold">▪ GPA: </span>{{ school.gpa }}</p>
			</div>
		</div>
	{% endfor %}
    <div class="font-weight-bold text-uppercase resume_category">Skills & Interests</div>
    <hr class="my-1">
	<div class="row  my-1">
        <div class="col-12">
            <span class="font-weight-bold my-0 resume_skills_title">▪ Certifications (in progresss): </span>
            <span class="my-0 resume_skills">
                {{ certifications|join:", " }}
            </span>
        </div>
    </div>
	<div class="row  my-1">
        <div class="col-12">
            <span class="font-weight-bold my-0 resume_skills_title">▪ Personal Skills: </span>
            <span class="my-0 resume_skills">
                {{ personal_skills|join:", " }}
            </span>
        </div>
    </div>
	<div class="row my-1">
        <div class="col-12">
            <span class="font-weight-bold my-0 resume_skills_title">▪ Computer Skills: </span>
            <span class="my-0 resume_skills">
                {{ computer_skills|join:", " }}
            </span>
        </div>
    </div>
	<div class="row my-1">
        <div class="col-12">
            <span class="font-weight-bold my-0 resume_skills_title">▪ Interests: </span>
            <span class="my-0 resume_skills">
                {{ interests|join:", " }}
            </span>
        </div>
    </div>
    <div class="mb-3"></div>
</div>
{% endblock %}

{% block customjs %}{% endblock %}