@import 'colors.css';

@font-face
{
    font-family:'Cairo';
    src:url('Cairo-Regular.ttf');
}

body {
    background-color: var(--background_bottom);
	min-height: 100vh;
	position: relative;
	margin: 0;
	font-family: 'Cairo';
	color: var(--text_light);
}

.navbar-header {
	background: var(--background_top);
	font-size: 1.0em;
}

.navbar-header .navbar-nav .nav-link {
    transition: color 0.3s;
    text-decoration: none;
	font-size: 1.0em;
	color: var(--text_light);
	background: linear-gradient(0deg, var(--gradient_one) 0%, var(--gradient_two) 100%);
	background-clip: text;
	-webkit-background-clip: text;
	border: none;
}

.navbar-header .navbar-nav .nav-link:hover {
	color: transparent;
}

.navbar-main {
    background-color: var(--background_modal) !important;
	font-size: 1.3em;
}

.navbar-main .navbar-nav .nav-link {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s, color 0.3s;
    text-decoration: none;
	font-size:1.0em;
	color: var(--text_light);
	background: linear-gradient(0deg, var(--gradient_one) 0%, var(--gradient_two) 100%);
	background-clip: text;
	-webkit-background-clip: text;
}

.navbar-main .navbar-nav .nav-link:hover {
	border-bottom: 1px solid var(--gradient_one);
	color: transparent;
}

.toggler_border {
	border: 1px solid var(--gradient_one) !important;
}

.toggler_icon {
  color: var(--gradient_one);
}

.footer {
	color: var(--text_light);
	background-color: var(--background_top);
}

.footer > h1 {
	font-size: 1.3em;
	font-weight: 600;
}

.footer > h2 {
	font-size: 1.3em;
	font-weight: 600;
}

.footer > h3 {
	font-size: 1.0em;
	font-weight: 500;
}

.footer-link {
	color: transparent;
	background: linear-gradient(0deg, var(--gradient_one) 0%, var(--gradient_two) 100%);
	background-clip: text;
	-webkit-background-clip: text;
	font-size: 1.0em;
	text-decoration: none;
	transition: color 0.3s;
}

.footer-link:hover {
	color: transparent;
	font-size: 1.0em;
	text-decoration: none;
}

.copyright {
	background-color: var(--background_bottom);
}