:root {
  --white: #FFFFFF;
  --black: #000000;
  
  --gradient_one: #33D3C3; 
  --gradient_two: #30A4DC;
  --gradient_one_dark: #25AEA0; 
  --gradient_two_dark: #1F87BA;
  
  --text_dark: #838194;
  --text_light: #EEEDF9;
  
  --background_top: #25233A;
  --background_bottom: #2D2B42;
  --background_modal: #454260;
  --background_form: #39374C;
}

@font-face
{
    font-family:'Cairo';
    src:url('Cairo-Regular.ttf');
}

body {
    background-color: var(--background_bottom);
	min-height: 100vh;
	position: relative;
	margin: 0;
	font-family: 'Cairo';
	color: var(--text_light);
}

.navbar-header {
	background: var(--background_top);
	font-size: 1.0em;
}

.navbar-header .navbar-nav .nav-link {
    transition: color 0.3s;
    text-decoration: none;
	font-size: 1.0em;
	color: var(--text_light);
	background: linear-gradient(0deg, var(--gradient_one) 0%, var(--gradient_two) 100%);
	background-clip: text;
	-webkit-background-clip: text;
	border: none;
}

.navbar-header .navbar-nav .nav-link:hover {
	color: transparent;
}

.navbar-main {
    background-color: var(--background_modal) !important;
	font-size: 1.3em;
}

.navbar-main .navbar-nav .nav-link {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s, color 0.3s;
    text-decoration: none;
	font-size:1.0em;
	color: var(--text_light);
	background: linear-gradient(0deg, var(--gradient_one) 0%, var(--gradient_two) 100%);
	background-clip: text;
	-webkit-background-clip: text;
}

.navbar-main .navbar-nav .nav-link:hover {
	border-bottom: 1px solid var(--gradient_one);
	color: transparent;
}

.footer {
	color: var(--text_light);
	background-color: var(--background_top);
}

.footer > h1 {
	font-size: 1.3em;
	font-weight: 600;
}

.footer > h2 {
	font-size: 1.3em;
	font-weight: 600;
}

.footer > h3 {
	font-size: 1.0em;
	font-weight: 500;
}

.footer-link {
	color: transparent;
	background: linear-gradient(0deg, var(--gradient_one) 0%, var(--gradient_two) 100%);
	background-clip: text;
	-webkit-background-clip: text;
	font-size: 1.0em;
	text-decoration: none;
	transition: color 0.3s;
}

.footer-link:hover {
	color: transparent;
	font-size: 1.0em;
	text-decoration: none;
}

.copyright {
	background-color: var(--background_bottom);
}


























.form_disclosure {
	color: var(--text_dark);
	font-size: 0.9em;
}

.form_input_field {
	color: var(--text_light) !important;
    background-color: var(--background_form) !important;
    border-color: var(--gradient_one) !important;
}
.form_input_field:hover, .form_input_field:focus, .form_input_field:active, .form_input_field.active, .open>.dropdown-toggle.form_input_field {
	color: var(--text_light) !important;
    background-color: var(--background_form) !important;
    border-color: var(gradient_one) !important;
	box-shadow: none !important;
}

.button_main { 
	color: var(--white);
	background: linear-gradient(345deg, var(--gradient_one) 0%, var(--gradient_two) 100%);
	border-color: #53DACC; 
	outline: none;
	box-shadow: none;
	font-size: 0.9em;
}
 
.button_main:hover, 
.button_main:focus, 
.button_main:active, 
.button_main.active, 
.open .dropdown-toggle.button_main { 
	color: var(--white);
	background: linear-gradient(345deg, var(--gradient_one_dark) 0%, var(--gradient_two_dark) 100%);
	border-color: #53DACC; 
	outline: none;
	box-shadow: none;	
}

















.resume_background {
    background-color: var(--background_modal) !important;
	padding: 0.2em 0.5em 0.5em 0.2em;
} 

.resume_link {
	color: transparent;
	background: linear-gradient(0deg, var(--gradient_one) 0%, var(--gradient_two) 100%);
	background-clip: text;
	-webkit-background-clip: text;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: 700;
}

.resume_link:hover {
	color: transparent;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: 700;
}

