<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		{% block meta %}
		<meta name="description" content="Description of website under 160 characters"> 
		<meta name="keywords" content="HTML,CSS,XML,JavaScript">
		<meta name="robots" content="index, follow"> 

		<meta name="og:title" property="og:title" content="title for social media share">
		<meta name="og:description " property="og:description " content="description for social media share">
		<meta name="og:type" property="og:type" content="type of page for social media share">
		<meta name="og:url" property="og:url" content="url for social media share">
		<meta name="og:image" property="og:image" content="image for social media share">
		{% endblock %}

		<link rel="shortcut icon" href="{% static 'img/favicon_32.png' %}" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
		<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
		<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/base.css' %}">
		<link rel="stylesheet" href="{% static 'css/forms.css' %}">
		{% block customcss %}{% endblock %}
		<title>{% block title %}Website Title{% endblock %}</title>
	</head>
	<body class="d-flex flex-column min-vh-100">
		<div class="container-fluid navbar-header" style="padding:0 !important;margin-bottom:30px;">
			<div class="container d-none d-lg-block">	
				<nav class="navbar navbar-light navbar-expand-lg bg-faded justify-content-center navbar-header">
					<!--
					<a href="#" class="navbar-brand d-flex w-50 mr-auto">
						<img src="{% static 'img/transp_1px.png' %}" width="" height="40" alt="let's get coughy logo" class="navbar-logo">
					</a>
					-->
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
						<ul class="nav navbar-nav ml-auto w-100 justify-content-end">
							<!--
							<li class="nav-item">
								<a class="nav-link navbar-header-link"  data-toggle="modal" data-target="#login_register_modal" style="cursor:pointer;"><i class="fas fa-lock" style="font-size:0.9em;"></i> Login</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" style="color:#000000;">|</a>
							</li>
							-->
							<li class="nav-item">
								<a class="nav-link navbar-header-link" href="https://www.linkedin.com/in/jon-r-robertson/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
							</li>
							<li class="nav-item">
								<a class="nav-link navbar-header-link" href="https://github.com/jrrobertson" target="_blank"><i class="fab fa-github"></i></a>
							</li>
						</ul>
					</div>
				</nav>	
			</div>	
			<div id="main-nav-section" class="container-fluid shadow-sm" style="padding:0 !important;">
				<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-main">
					<a class="navbar-brand d-lg-none d-block mx-auto">
						<img src="{% static 'img/transp_1px.png' %}" width="" height="40" alt="let's get coughy logo" class="navbar-logo">
					</a>
					<button class="navbar-toggler pull-right toggler_border" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
						<i class="fas fa-bars toggler_icon"></i>
					</button>
					<div class="collapse navbar-collapse" id="mainNav">	
						<ul class="navbar-nav mr-auto mt-2 mt-lg-0  mx-auto">
							<li class="nav-item d-lg-none">
								<div class="row">
									<div class="col-9">
										<!--
										<div class="input-group">
											<input type="text" class="form-control btn-outline-secondary form-text-field" placeholder="Search..." aria-label="Search" aria-describedby="search text input">
											<div class="input-group-append">
												<button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
											</div>
										</div>
										-->
									</div>
									<div class="col-3 text-center">
										<!--
										<a class="nav-link navbar-header-link"  data-toggle="modal" data-target="#login_register_modal" style="cursor:pointer;font-size:0.8em;background-color:#F8F8F8;border:none;"><i class="fas fa-lock" style="font-size:0.9em;"></i> Login</a>
										-->
									</div>
								</div>
							</li>
							<li class="nav-item d-lg-none">
								<div class="hor-line" style="margin-top:20px;"></div>
							</li>
							<li class="nav-item">
								<a class="nav-link mx-3" href="{% url 'v_resume' %}">Resume</a>
							</li>
							<li class="nav-item">
								<a class="nav-link mx-3" href="{% url 'v_aboutme' %}">About Me</a>
							</li>
							<li class="nav-item">
								<a class="nav-link mx-3" href="{% url 'v_blog' %}">Blog</a>
							</li>
						</ul>
					</div>
				</nav>	
			</div>
			<div id="grey-under-bar" style="height:25px;">
			</div>
		</div>
		<div class="container flex-fill justify-content-center mb-4">
		{% block content %}
		{% endblock %}
		</div>
		<footer>
		<div class="footer mt-4" style="width:100%;margin-top:5em;">
			<div class="container footer">
				<div class="row">
					<div class="col-md-6 col-lg-4 mt-4 text-center footer">
						<h1>My Location</h1>
						<h3></h3>
						<div id="map" class="map" style="height:85%;width:100%;"></div>
					</div>
					<div class="col-md-6 col-lg-4 mt-4 footer text-center">
						<h1>Who I Am</h1>
						<h3>Hey, I'm Jon. The man, the myth, the programmer. I'm currently enrolled in Western Governors University pursuing a Bachelors degree for Software Engineering. I've always had a passion for technology and programming and have built countless web apps for fun over the years. I've recently transitioned into Python and Django and am loving it so far! This site is actually 100% database driven using Django and SQL.</h3>
					</div>
					<div class="col-md-12 col-lg-4 mt-4 text-center footer">
						<h2>Will Work for Food</h2><br>
						<p style="margin-top:-0.8em;">Like what you see? Schedule a quick 30 minute introductory meeting so we can get acquainted with each other!</p>
						<br>
						<div class="col-md-12">
							<button type="button" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/jonrobertson/introduction?background_color=454260&text_color=eeedf9&primary_color=33d3c3'});return false;" class="mt-2 btn btn-lg btn-block button_main font-weight-bold">SCHEDULE NOW</button>
							<p class="form_disclosure">By scheduling I acknowledge that Jon will contact me about job opportunities.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid mt-4 copyright">
				<div class="row">
					<div class="col-12 text-center mt-3">
						<p>© 2020 <a class="footer-link" href="{% url 'v_resume' %}">Jon Robertson</a>. All Rights Reserved.</p>
					</div>
				</div>
			</div>
		</div>
		</footer>
	</body>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
	<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
	<script src="{% static 'js/main.js' %}"></script>
	{% block customjs %}{% endblock %}
</html>